{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<section>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">SPRING 2026 CS 351 XIA</h5>
            <p class="card-text">Sam Dunlap, Isaac Hutchinson, Katherine Cho</p>
            <a href="/admin" class="btn btn-primary">Admin Login</a>
            <a href="https://docs.google.com/document/d/1KlgDW6cvY78sPaKfO8hlUTiJCnGHJkFlm3Mk6RAF0Y8/edit?tab=t.0" class="btn btn-secondary">Report</a>
        </div>
    </div>
</section>
{% endblock %}
