/* General CSS */
body {
    padding: 0px;
}

p {
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    /* text-align: center; */
}

h1 {
    font-size: 50px;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
}

a {
    color: rgb(21, 132, 214);
    text-decoration: none;
    transition: .3s;
}

a:hover {
    color: rgba(21, 132, 214, 0.6);
    transition: .3s;
}

.image-sm {
    width: 200px;
    height: auto;
}

.image-md {
    width: 300px;
    height: auto;
}

.image-lg {
    width: 500px;
    height: auto;
}

.float-l {
    float: left;
    padding-right: 30px;
    padding-bottom: 10px;
}

.float-r {
    float: right;
    padding-left: 30px;
    padding-bottom: 10px;
}

span.asteriskField {
    display: none;
}

label.requiredField {
    color: rgb(3, 145, 207);;
    font-size: 20px;
}

.card
{
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Home page CTA
section.cta {
    background-image: linear-gradient(to right, rgb(44, 160, 255) , rgb(255, 145, 0));
    color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

section.cta a {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 20px;
    transition: .5s;
}

section.cta a:last-child {
    margin-right: none;
}

section.cta a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.9);
    transition: .5s;
}

section.cta p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 45px;
    margin-bottom: 45px;
} */

/* table {
    text-align: center;
    margin-left: 0px;
    margin-right: auto;
}

th, td {
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.headers th {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

table tr th {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
} */

/* Contact page
.contact-col {
    padding-left: 50px;
}

.contact-col h3 {
    color: rgb(3, 145, 207);
    margin-bottom: 10px;
} */
/* footer */

footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p 
{
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* footer ul {
    margin: 0px;
}

footer ul li {
    display: inline;
    padding-right: 40px;
} */
